<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs!</title>
    <link href= "/public/assets/stylesSongs.css" rel="stylesheet" type="text/css" />
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body style="background-color:rgb(0, 0, 0);"></body>
    <!-- Date input fields and button -->
    <div class="top-header">
       <a href="/" id="home-button"> home</a>
    </div>
    <div class="flex-container">
        
        <div class="left-container">
            <div class="ui-container">
                
                <div class="left-div-2">
                        <div id="selectRange">Date Range:</div>
                        <div class="column-div"><div id="selectionText">Start Date</div><input type="date" id="startDate"></div>
                        <div class="column-div"><div id="selectionText">End Date</div><input type="date" id="endDate"></div>
                        <button id="fetchData">Get Events</button>
                        <div id="selectAttribute">Top 5:</div>
                        <div class="radio-group">
                            <div>
                                <input type="radio" name="customRadio" id="radio1" value="1" checked>
                                <label for="radio1">Default</label>
                            </div>
                            <div>
                                <input type="radio" name="customRadio" id="radio2" value="2" >
                                <label for="radio2">Songs</label>
                            </div>
                        </div>
                        <div class="radio-group">
                            <div>
                                <input type="radio" name="customRadio" id="radio3" value="3">
                                <label for="radio3">Artists</label>
                            </div>
                            <div>
                                <input type="radio" name="customRadio" id="radio4" value="4">
                                <label for="radio4">Albums</label>
                            </div>
                            <div>
                                <input type="radio" name="customRadio" id="radio5" value="5">
                                <label for="radio5">Genres</label>
                            </div>
                        </div>
                </div>
            <div class="left-div-3">
                <div class="top-attributes-flex-container">
                    <!-- Row 1 -->
                    <div class="top-attributes-row">
                        <div class="top-attributes-left">1</div>
                        <div class="top-attributes-middle" id="middle1"></div>
                        <div class="top-attributes-right"><div class="top-attributes-color-box" style="background-color: #FFD700;;"></div></div>
                    </div>
            
                    <!-- Row 2 -->
                    <div class="top-attributes-row">
                        <div class="top-attributes-left">2</div>
                        <div class="top-attributes-middle" id="middle2"></div>
                        <div class="top-attributes-right"><div class="top-attributes-color-box" style="background-color: #E1AC38;;"></div></div>
                    </div>
            
                    <!-- Row 3 -->
                    <div class="top-attributes-row">
                        <div class="top-attributes-left">3</div>
                        <div class="top-attributes-middle" id="middle3"></div>
                        <div class="top-attributes-right"><div class="top-attributes-color-box" style="background-color: #C48171;;"></div></div>
                    </div>
            
                    <!-- Row 4 -->
                    <div class="top-attributes-row">
                        <div class="top-attributes-left">4</div>
                        <div class="top-attributes-middle" id="middle4"></div>
                        <div class="top-attributes-right"><div class="top-attributes-color-box" style="background-color: #A656A9;;"></div></div>
                    </div>
            
                    <!-- Row 5 -->
                    <div class="top-attributes-row">
                        <div class="top-attributes-left">5</div>
                        <div class="top-attributes-middle" id="middle5"></div>
                        <div class="top-attributes-right"><div class="top-attributes-color-box" style="background-color: #8A2BE2 ;"></div></div>
                    </div>
                </div>
            </div>
            <div class="left-div-1">
                <div id="currentlyPlaying">Currently Playing:</div>
                <img id="songImage" src="" alt="Song Image">
                <div id="songContainer"><a id="songDisplay" href="https://open.spotify.com/" target="_blank"></a></div>
                <div id="artistContainer"><a id="songArtist" href="https://open.spotify.com/" target="_blank"></a></div>
                
            

            </div>
        </div>
    </div>
    

    <!-- Right div -->
    <div class="right-div">
        <div class="calendar-container">
            <div class="time-column">
                <span><%= "" %></span>
                <% for(let i = 120; i < 480; i+=120) { %>
                    <div class="time-slot"><%= Math.floor(i/20) + ":00" %></div>
                <% } %>
            </div>
    
            <div class="grid" style="grid-template-columns: repeat(<%= numDays %>, 1fr);">
                <% data.forEach(item => { %>
                    <div class="day">
                        <div class="day-title"><span><%= item.day %></span></div>
                        <% for(let i = 0; i < 480; i++) { %>
                            <div class="segment <%= item.segments.includes(i) ? 'active' : '' %>"></div> 
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>



    

    <!-- Custom script for date defaulting and event fetching -->
    <script src="/public/scripts.js">
    </script>
</body>

</html>