<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/stylesSongs.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/public/favicon.ico"> <!--https://icons8.com/icon/qhTRpW6HOKIT/lobster"-->

    <title>Songs!</title>
</head>

<body>

    <div id="header-nav-wrapper">
        <h4 class="header-title">Michael Krah</h4>

        <nav class="nav">
            <a href="/" id="nav-item"> Home </a>
            <a href="/about" id="nav-item"> About </a>
            <a href="/resume" id="nav-item"> Resume </a>
            <a href="/contact" id="nav-item"> Contact </a>
            <a href="/songs" id="songs-header"> Songs </a>
        </nav>

    </div>

    <main>
        <div class="flex-container-main">

            <div id="left-container">
                <div id="ui-container-left" class="ui-container">
                    <div id="date-range-selector">
                        <form id="date-range-form">
                            <h4>Listening history</h4>
                            <div id="date-range-custom">
                                <label for="startDate">From </label>
                                <input type="date" value="<%= startDate %>" id="startDate" name="dateRangeCustom">
                                <label for="endDate">to </label>
                                <input type="date" value="<%= endDate %>" id="endDate" name="dateRangeCustom">
                            </div>
                            <br>

                            <div id="date-range-set">

                                <input type="radio" name="dateRangeSet" id="day" value="day">
                                <label for="day"> D </label>


                                <input type="radio" name="dateRangeSet" id="week" value="week" checked>
                                <label for="week"> W </label>

                                <input type="radio" name="dateRangeSet" id="month" value="month">
                                <label for="month"> M </label>
                                <input type="radio" name="dateRangeSet" id="sixMonth" value="sixMonth">
                                <label for="sixMonth"> 6M</label>

                                <input type="radio" name="dateRangeSet" id="year" value="year">
                                <label for="year">Y</label>
                            </div>

                        </form>
                    </div>

                    <div id="current-song">
                        <h4>Currently playing</h4>
                        <% if (currentSong) { %>

                            <a id="songs-display" href="https://open.spotify.com/track/<%=currentSong.id%>"
                                target="_blank">
                                <img id="song-image" src="<%= currentSong.album.images[0]?.url %>" alt="Song Image">
                            </a>
                            <div>
                                <a id="songs-display" href="https://open.spotify.com/track/<%=currentSong.id%>"
                                    target="_blank">
                                    <%= currentSong.name %>
                                </a>
                            </div>
                            <div>
                                <a id="artists-display"
                                    href="https://open.spotify.com/artist/<%= currentSong.artists[0].id %>"
                                    target="_blank">
                                    <%= currentSong.artists[0].name %>
                                </a>
                            </div>


                            <% } else { %>
                                <img id="song-image" src="../public/images/spotify-nothing-playing.png"
                                    alt="Song Image">

                                <a id="songs-display" href="https://open.spotify.com/" target="_blank">Not
                                    listening to music :(</a>
                                <% } %>
                    </div>
                </div>
            </div>

            <div id="right-container">

                <div class="ui-container">

                    <div id="flex-container-stats" class="flex-container">

                        <div id="date-range-exact-values">
                            <div>
                                From <green-text><%= startDate %></green-text> to <green-text><%= endDate %></green-text>, <br>
                                I listened to <green-text>
                                    <%= uniqueSongs %> unique tracks</green-text> <br> on <green-text>
                                    <%= uniqueAlbums %> albums</green-text>, <br>
                                     from a total of <green-text>
                                    <%= uniqueArtists %> artists</green-text>. <br>
                            </div>
                            <div>
                                This represents <green-text><%= minutesListened %> minutes</green-text> <br> and <green-text>
                                <%= totalTracks %> total tracks</green-text>.
                            </div>
                        </div>

                        <div id="date-range-top">
                            <div>
                                <h4>Most listened to</h4>
                            </div>
                            <div class="flex-container-ranking">
                                <div class="ranking-div">

                                    <p>Artists:</p>

                                    <button id="top-artists-button" class="ranking-button">
                                        <div id="top-artists" class="top-list" x>
                                            <% topArtists.forEach((element, index)=> { %>
                                                <div class="ranking-item">
                                                    <div class="ranking-number"
                                                        style="--ranking-color: <%= colorList[index] %>;">
                                                        <%= index + 1 %>.&nbsp;
                                                    </div>
                                                    <div class="ranking-name"
                                                    style="--ranking-color: <%= colorList[index] %>;">

                                                    <% if (element.name[0][0].length> 30) { %>

                                                            <%= element.name[0][0].substring(0, 30)%>...
                                                        
                                                        <% } else { %>
                         
                                                                <%= element.name %>
                                                            <% } %>
                                                        </div>
                                                </div>
                                                <% }); %>
                                        </div>
                                    </button>
                                </div>
                                <div class="ranking-div">
                                    <p>Albums:</p>

                                    <button id="top-albums-button" class="ranking-button">
                                        <div id="top-albums" class="top-list">
                                            <% topAlbums.forEach((element, index)=> { %>
                                                <div class="ranking-item">
                                                    <div class="ranking-number"
                                                        style="--ranking-color: <%= colorList[index] %>;">
                                                        <%= index + 1 %>.&nbsp;
                                                    </div>
                                                    <div class="ranking-name"
                                                    style="--ranking-color: <%= colorList[index] %>;">
                                                    <div class="ranking-title">
                                                    <% if (element.name[0][0].length> 30) { %>
                                                                <%= element.name[0][0].substring(0, 30)%>...
                                                    <% } else { %>
                                                                <%= element.name %> 
                                                    <% } %>
                                                    </div>
                                                    <div class="ranking-artist">
                                                        <%= element.artist[0][0] %>
                                                    </div>
                                                    </div>
                                                </div>
                                                <% }); %>

                                        </div>
                                    </button>
                                </div>
                                <div class="ranking-div">
                                    <p>Tracks:</p>

                                    <button id="top-tracks-button" class="ranking-button">
                                        <div id="top-tracks" class="top-list">
                                            <% topTracks.forEach((element, index)=> { %>
                                                <div class="ranking-item">
                                                    <div class="ranking-number"
                                                        style="--ranking-color: <%= colorList[index] %>;">
                                                        <%= index + 1 %>.&nbsp;
                                                    </div>
                                                    <div class="ranking-name"
                                                    style="--ranking-color: <%= colorList[index] %>;">
                                                    <div class="ranking-title">
                                                    <% if (element.name[0][0].length> 30) { %>
                                                                <%= element.name[0][0].substring(0, 30)%>...
                                                    <% } else { %>
                                                                <%= element.name %> 
                                                    <% } %>
                                                    </div>
                                                    <div class="ranking-artist">
                                                        <%= element.artist[0][0] %>
                                                    </div>
                                                    </div>
                                                </div>
                                                <% }); %>
                                        </div>
                                    </button>
                                </div>


                            </div>
                        </div>

                    </div>


                    <div id="chart" class="chart"></div>

                </div>
            </div>
        </div>


    </main>

    <script>
        let chartDataValues = <%- JSON.stringify(chartDataValues) %>;
        let chartDataTime = <%- JSON.stringify(chartDataTime) %>;
        let chartTopTracks = <%- JSON.stringify(chartTopTracks) %>;
        let chartTopArtists = <%- JSON.stringify(chartTopArtists) %>;
        let chartTopAlbums = <%- JSON.stringify(chartTopAlbums) %>;

    </script>
    <script type="module" src="../public/scripts.js"></script>

</body>
</html>